video_data/
raw_audio/
denoised_audio/
custom_character_voice/
segmented_character_voice/

sampled_audio4ft/
*.zip
configs/finetune_speaker.json
pretrained_models/

final_annotation_train.txt
final_annotation_val.txt
long_character_anno.txt
sampled_audio4ft.txt
short_character_anno.txt

separated/
text/__pycache__/

OUTPUT_MODEL/
__pycache__/
monotonic_align/
