
1. install microsoft build tools
https://visualstudio.microsoft.com/zh-hans/visual-cpp-build-tools/
, install c++ desktop option
and set cmake path to enviroment path
and set C:\Program Files (x86)\Microsoft Visual Studio\2022\BuildTools\VC\Tools\MSVC\14.36.32532\bin\Hostx86\x64 to path

2. vscode create conda enviroment
3. pip install -r requirements.txt
here may happen pyopenjtalk not install correctly, should do pip install pyopenjtalk manually.
here may happen scipy not install correctly, should do pip install scipy manually.

4. make sure install torch and cude
go to here select conda and os https://pytorch.org/get-started/locally/
conda install pytorch torchvision torchaudio pytorch-cuda=11.8 -c pytorch -c nvidia
You can use python check
>>> import torch
>>> print(torch.__version__)
should print version without cpu tag
Note: if already install torch cpu version, do pip uninstall torch, and do again => conda install pytorch torchvision torchaudio pytorch-cuda=11.8 -c pytorch -c nvidia
>>> torch.cuda.is_available()
should be True

5. if find ImportError: No module named 'monotonic_align.core'
you should create monotonic_align/monotonic_align folder
then do python setup.py build_ext --inplace








